.puto {
    background-image: url('/assets/images/aguaraicon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // width: 100%; /* Define el ancho del div */
    // height: 300px; /* Define la altura del div */
  }